# Database
DATABASE_URL="mongodb+srv://<username>:<password>@cluster.mongodb.net/your_db"
NODE_ENV="development"
PORT=33079
BCRYPT_SALT_ROUNDS=12
JWT_SECRET="your_jwt_secret" 
EXPIRES_IN="365d"
# 15m for access token, 30d for refresh token, 365d for testing purposes
REFRESH_TOKEN_SECRET="your_refresh_token_secret"
REFRESH_TOKEN_EXPIRES_IN="365d"
RESET_PASS_TOKEN="your_reset_pass_token"
RESET_PASS_TOKEN_EXPIRES_IN="5m"
# RESET_PASS_LINK="http://localhost:3001/reset-password"
RESET_PASS_LINK=""


# gmail SMTP
EMAIL="your_email@gmail.com"
APP_PASS="your_app_password"


# brevo
BREVO_API_KEY=""
BREVO_API_SECRET=""
BREVO_EMAIL=""
BREVO_SENDER_NAME=""


# SOS
DO_SPACE_ENDPOINT=""
DO_SPACE_ORIGIN_ENDPOINT=""
DO_SPACE_CDN=""
DO_SPACE_CDN_ENDPOINT=""
DO_SPACE_ACCESS_KEY=""
DO_SPACE_SECRET_KEY=""
DO_SPACE_BUCKET=""
# DO_SPACE_REGION=""

# cloudinary
CLOUDINARY_CLOUD_NAME="your_cloud_name"
CLOUDINARY_API_KEY="your_api_key"
CLOUDINARY_API_SECRET="your_api_secret"
ENVIRONMENT_VARIABLE="CLOUDINARY_URL=cloudinary://your_api_key:your_api_secret@your_cloud_name"


# stripe

STRIPE_SECRET_KEY="sk_test_your_secret_key"
STRIPE_PUBLISHABLE_KEY="pk_test_your_publishable_key"
STRIPE_ADMIN_ACCOUNT_ID="your_stripe_admin_account_id"
STRIPE_WEBHOOK_SECRET="whsec_your_webhook_secret"


FRONTEND_BASE_URL=""
CLIENT_URL=""  

# OpenAI Configuration
OPENAI_API_KEY=""
AI_MODEL_NAME="gpt-4o"
